/*  */
body {
	background-image: url(image/bg_s.gif);
	background-position: center 130px;
	background-repeat: no-repeat;	
}

#container {
	margin: 0 auto;
	width: 940px;
	position: relative;
	line-height: 1.5;
}

#header {
	padding: 20px 0;
	background-image:url(image/bg_s.gif);
	background-position: right 130px;
	background-repeat: no-repeat;
        z-index: 20;
}

#header #pyconlogo a{
	padding-top: 120px;
    width: 200px;
    height: 0;
	display: block;
	overflow: hidden;
	background-image: url(image/pyconjp2012_logo_s.png);
	background-repeat: no-repeat;
}

#header #pyconinfo {
    padding-top: 55px;
	width: 330px;
	height: 0;
	position: absolute;
	top: 50px;
	right: 0;
	overflow: hidden;
	background-image: url(image/pyconjp2012_info_s.gif);
	background-repeat: no-repeat;	
}

.lang-en #header #pyconinfo {
    padding-top: 55px;
	width: 330px;
	height: 0;
	position: absolute;
	top: 50px;
	right: 0;
	overflow: hidden;
	background-image: url(image/pyconjp2012_info_e_s.gif);
	background-repeat: no-repeat;	
}

#navi {
	margin-bottom: 30px;
	width: 940px;
	text-align: center;
        z-index: 20;
}
#navi ul{
	margin-left: 0
}

#navi li{
	margin: 10px;
	display: inline;
	list-style: none;
}

#navi li a{
	padding-left: 20px;
	background-image: url(image/list-disk.gif);
	background-repeat: no-repeat;
}

#ej-selector{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 50;
	font-size: x-small;
}
#ej-selector ul{
	margin: 0;
}

#ej-selector li{
    margin: 0;
	padding: 0.2em 0.5em;
	border-left: 1px solid #d6003a;
	border-right: 1px solid #d6003a;
	border-bottom: 1px solid #d6003a;
	list-style: none;
	float: left;
}

#ej-selector li a{
	color: #d6003a;
}

#ej-selector li#japanese {
	background-color: #d6003a;
	border-bottom-left-radius: 5px;
}

#ej-selector li#japanese a{
	color: #ffffff;
}

#ej-selector li#english {
    border-bottom-right-radius: 5px;
}

.lang-en #ej-selector li#japanese {
	background-color: #ffffff;
}

.lang-en #ej-selector li#japanese a{
	color: #d6003a;
}

.lang-en #ej-selector li#english {
	background-color: #d6003a;
}

.lang-en #ej-selector li#english a{
	color: #ffffff;
}

#content {
    position: relative;
    z-index: 10;
}

#content .section {
	float: left;
	margin-bottom: 1em;
	width: 630px;
}

#content #sidebar {
	float: right;
	width: 280px;
	height: 100%;
	top: 0;
	right: 0;
}

#content #sidebar #gold-sponsor {
    margin-top: 80px;
}

#content #sidebar h3 {
    margin-left: 30px;
    margin-bottom: 15px;
}

#content #sidebar .sponsor ul {
    margin-left: 30px;
    margin-bottom: 40px;
}

#content #sidebar .sponsor li {
    list-style: none;
}

#content #sidebar .sponsor li a img {
	margin-bottom: 15px;
}

.clear {
	clear: both;
}

#footer {
	margin-top: 50px;
	color: #666666;
	text-align: center;
	font-size: xx-small;
}

/*  */

h1 {
	margin-bottom: 1em;
	font-size: xx-large;
}

h2 {
	margin: 2em 0 1em;
	font-weight: bold;
}

h3,
h4 {
	margin: 0 0 0.3em 100px;
	font-weight: bold;
}


h1 a,
h2 a,
h3 a,
h4 a,
h5 a{
	display: none;
}

p {
	margin-left: 100px;
	margin-bottom: 1em;
}

ul {
	margin-left: 100px;	
}

li {
	margin-left: 1em;
	list-style: inside disc;
}

table {
	margin-left: 100px;
	margin-bottom: 1em;
	border: 0px;
}

table caption {
	font-weight: bold;
}

table tr.row-odd {
	background-color: #eeeeee;
}

table td {
	border: 0px;
}

a {
	color: #0088cc;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#about a.about,
#cfp a.cfp,
#sponsor a.sponsor {
	color: #d6003a;
	background-image: url(image/list-disk_a.gif);
}

iframe {
	margin-left: 100px;
}

small {
	margin-left: 100px;
}


/* index ページのスタイル */

#index.lang-ja,
#en-index.lang-en {
	background-image: url(image/bg.gif);
	background-position: center 262px;
	background-repeat: no-repeat;
}

#index.lang-ja #header,
#en-index.lang-en #header{
	margin: 0;
	position: absolute;
	top: 70px;
	right: 0;	
}

#index.lang-ja #header #pyconlogo,
#en-index.lang-en #header #pyconlogo{
    display: none;
}

#index.lang-ja #header #pyconinfo,
#en-index.lang-en #header #pyconinfo{
	padding-top: 80px;
	width: 460px;
	height: 0;
	overflow: hidden;
	background-image: url(image/pyconjp2012_info.gif);
	background-repeat: no-repeat;
}

#en-index.lang-en #header #pyconinfo{
	background-image: url(image/pyconjp2012_info_e.gif);
}

#index.lang-ja #navi,
#en-index.lang-en #navi{
	position: absolute;
	top: 350px;
}


#index.lang-ja #content,
#en-index.lang-en #content{
	padding-top: 50px;
	background-image:url(image/bg.gif);
	background-position: right 262px;
	background-repeat: no-repeat;
}
#index.lang-ja h1,
#en-index.lang-en h1{
	padding-top: 225px;
	margin-bottom: 150px;
	height: 0;
	width: 390px;
	overflow: hidden;
	background-image: url(image/pyconjp2012_logo.png);
	background-repeat: no-repeat;
	background-position: left;
	background-color: #ffffff;
}

#index.lang-ja h2,
#en-index.lang-en h2 {
	margin: 0 0 1em 0;
	font-size: xx-large;
	font-weight: normal;
}

#index.lang-ja h3,
#en-index.lang-en h3 {
	margin: 2em 0 1em;
	font-weight: bold;
}



#index.lang-ja div.toctree-wrapper,
#en-index.lang-en div.toctree-wrapper{
	display: none;
}

#index.lang-ja #content #sidebar,
#en-index.lang-en #content #sidebar  {
	width: 940px;
	position: relative;
}


/* sposer bottom表示 */

#index.lang-ja #content #sidebar h3,
#en-index.lang-en #content #sidebar h3{
	margin-left: 0;
}

#index.lang-ja #content #sidebar ul,
#en-index.lang-en #content #sidebar ul{
	margin-left: 0;
}

#index.lang-ja #content #sidebar li,
#en-index.lang-en #content #sidebar li{
	margin-left: 15px;
	display: inline;
}

#index.lang-ja #content #sidebar li a,
#en-index.lang-en #content #sidebar li a{
	display: inline;
}

#index.lang-ja #content #sidebar li a img,
#en-index.lang-en #content #sidebar li a img{
	vertical-align: middle;
}