/*  */
body {
	background-image: url(image/bg_s.gif);
	background-position: center 130px;
	background-repeat: no-repeat;	
}

#container {
	margin: 0 auto;
	width: 940px;
	position: relative;
	line-height: 1.5;
}

#header {
	padding: 20px 0;
	background-image:url(image/bg_s.gif);
	background-position: right 130px;
	background-repeat: no-repeat;
}

#header #pyconlogo a{
	padding-top: 120px;
    width: 200px;
    height: 0;
	display: block;
	overflow: hidden;
	background-image: url(image/pyconjp2012_logo_s.png);
	background-repeat: no-repeat;
}

#header #pyconinfo {
    padding-top: 55px;
	width: 330px;
	height: 0;
	position: absolute;
	top: 50px;
	right: 0;
	overflow: hidden;
	background-image: url(image/pyconjp2012_info_s.gif);
	background-repeat: no-repeat;	
}

.section-e #header #pyconinfo {
    padding-top: 55px;
	width: 330px;
	height: 0;
	position: absolute;
	top: 50px;
	right: 0;
	overflow: hidden;
	background-image: url(image/pyconjp2012_info_e_s.gif);
	background-repeat: no-repeat;	
}

#navi {
	margin-bottom: 30px;
	width: 940px;
	text-align: center;
}

#navi li{
	margin: 10px;
	display: inline;
	list-style: none;
}

#navi li a{
	padding-left: 20px;
	background-image: url(image/list-disk.gif);
	background-repeat: no-repeat;
}

#ej-selector{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 50;
	font-size: x-small;
}
#ej-selector ul{
	margin: 0;
}

#ej-selector li{
    margin: 0;
	padding: 0.2em 0.5em;
	border-left: 1px solid #d6003a;
	border-right: 1px solid #d6003a;
	border-bottom: 1px solid #d6003a;
	list-style: none;
	float: left;
}

#ej-selector li a{
	color: #d6003a;
}

#ej-selector li#japanese {
	background-color: #d6003a;
	border-bottom-left-radius: 5px;
}

#ej-selector li#japanese a{
	color: #ffffff;
}

#ej-selector li#english {
    border-bottom-right-radius: 5px;
}

.section-e #ej-selector li#japanese {
	background-color: #ffffff;
}

.section-e #ej-selector li#japanese a{
	color: #d6003a;
}

.section-e #ej-selector li#english {
	background-color: #d6003a;
}

.section-e #ej-selector li#english a{
	color: #ffffff;
}

#content {
    position: relative;
}

#content .section {
	margin-bottom: 1em;
	width: 630px;
}

#content #sidebar {
	width: 280px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

#footer {
	margin-top: 100px;
	color: #666666;
	text-align: center;
	font-size: xx-small;
}

/*  */

h1 {
	margin-bottom: 1em;
	font-size: xx-large;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a{
	display: none;
}

h2 {
	margin: 2em 0 1em;
	font-weight: bold;
}

h3,
h4 {
	margin: 0 0 0.3em 100px;
	font-weight: bold;
}

p {
	margin-left: 100px;
	margin-bottom: 1em;
}

ul {
	margin-left: 100px;	
}

li {
	margin-left: 1em;
	list-style: inside disc;
}

table {
	margin-left: 100px;
	margin-bottom: 1em;
	border: 0px;
}

table caption {
	font-weight: bold;
}

table tr.row-odd {
	background-color: #eeeeee;
}

table td {
	border: 0px;
}

a {
	color: #0088cc;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#about a.about,
#cfp a.cfp,
#sponsor a.sponsor {
	color: #d6003a;
	background-image: url(image/list-disk_a.gif);
}

/* index ページのスタイル */

#index.section-index,
#index.section-e {
	background-image: url(image/bg.gif);
	background-position: center 312px;
	background-repeat: no-repeat;
}

#index.section-index #header,
#index.section-e #header{
	margin: 0;
	position: absolute;
	top: 170px;
	right: 0;	
}

#index.section-index #header #pyconlogo,
#index.section-e #header #pyconlogo{
    display: none;
}

#index.section-index #header #pyconinfo{
	padding-top: 80px;
	width: 460px;
	height: 0;
	overflow: hidden;
	background-image: url(image/pyconjp2012_info.gif);
	background-repeat: no-repeat;
}

#index.section-e #header #pyconinfo{
	padding-top: 80px;
	width: 460px;
	height: 0;
	overflow: hidden;
	background-image: url(image/pyconjp2012_info_e.gif);
	background-repeat: no-repeat;
}

#index.section-index #navi,
#index.section-e #navi{
	position: absolute;
	top: 400px;
}


#index.section-index #content,
#index.section-e #content{
	padding-top: 100px;
	background-image:url(image/bg.gif);
	background-position: right 312px;
	background-repeat: no-repeat;
}
#index.section-index h1,
#index.section-e h1{
	padding-top: 225px;
	margin-bottom: 300px;
	height: 0;
	width: 390px;
	overflow: hidden;
	background-image: url(image/pyconjp2012_logo.png);
	background-repeat: no-repeat;
	background-position: left;
	background-color: #ffffff;
}

#index.section-index div.toctree-wrapper,
#index.section-e div.toctree-wrapper{
	display: none;
}

